@media screen and (max-width: 1024px) {
  
  .container {
    width: 670px;
  }

  /* Header */

  .header {
    height: 874px;
    background-position: -235px top;
  }

  .header__logo {
    margin-bottom: 77px;
  }

  .header__logo a {
    margin-top: 40px;
  }

  .header__menu {
    display: none; 
    position: absolute;
    top: 0;
    left: 0;
    width: 750px;
    height: 1080px;
    text-align: center;
    background-color: #3d3d3d;
    z-index: 2;
  }

  .header__menu li {
    display: block;
  }

  .header__menu--hamburger {
    display: block;
  }

  .header__promo h1 {
    margin-left: 0;
  }

  .header__promo ul {
    margin-bottom: 49px;
    padding-left: 39px;
  }

  .header__promo li {
    font-size: 20px;
    line-height: 31px;
  }

  .header__promo li:last-of-type span {
    position: relative;
    top: -7px;
    display: block;
  }

  a.open-shop {
    width: 345px;
    height: 70px;
    font-size: 24px;
    line-height: 70px;
    margin-left: 20px;
    border-radius: 35px;
  }

  /* Create shop */
  
  .create-shop {
    min-height: 571px;
  }

  .create-shop h2 {
    width: 645px;
  }

  .create-shop h2::after {
    display: none;
  }

  .create-shop h2::before {
    position: absolute;
    top: 193px;
    left: 106px;
    content: url("../images/ellipse.png");
  }

  .create-shop span {
    position: relative;
    top: -2px;
    display: block;
  }

  .create-shop__item {
    position: absolute;
  }

  .create-shop__item::before {
    top: -90px;
  }

  .create-shop__item--1 {
    top: 241px;
    left: 194px;
  }

  .create-shop__item--2 {
    top: 391px;
    left: 436px;
  }

  .create-shop__item--3 {
    top: 633px;
    left: 361px;
  }

  .create-shop__item--4 {
    top: 633px;
    left: 119px;
  }

  .create-shop__item--5 {
    top: 391px;
    left: 44px;
  }

  /* Control panel */

  .control-panel h2 {
    
  }

}