@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url('../fonts/proxima_nova_light-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_thextrabold';
  src: url('../fonts/proxima_nova_extrabold-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_blblack';
  src: url('../fonts/proxima_nova_black-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Main layout styles */   

* {
  box-sizing: border-box;
}

body {
  font-family: 'proxima_nova_rgregular';
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #000;
}

.container {
  position: relative;
  width: 1180px;
  margin: 0 auto;
}

h2 {
  font-family: 'proxima_nova_blblack';
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
}

h2 > span {
  font-family: 'proxima_nova_rgregular';
  font-weight: 300;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.nowrap {
  white-space: nowrap;
}

/* Header */

.header {
  height: 900px;
  background-image: url("../images/bg-top.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.header__logo {
  float: left;
  margin-bottom: 120px;
}

.header__logo a {
  display: block;
  width: 119px;
  height: 60px;
  margin-top: 58px;
  background-image: url("../images/logo.png");
}

.header__menu {
  position: absolute;
  top: 60px;
  right: -113px;
}

.header__menu li {
  display: inline-block;
  padding-left: 13px;
  padding-right: 13px;
}

.header__menu-link {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  padding-bottom: 1px;
  color: #fff;
}

.header__menu-link:hover {
  opacity: 0.8;
}

.header__menu-link--active {
  border-bottom: 3px solid #fff;
}

.header__promo {
  clear: both;
}

.header__promo h1 {
  width: 443px;
  font-family: 'proxima_nova_blblack';
  font-size: 50px;
  line-height: 60px;
  font-weight: 900;
  margin-left: 116px;
}

.header__promo ul {
  padding-left: 155px;
  margin-bottom: 45px;
}

.header__promo li {
  position: relative;
  font-family: 'proxima_nova_ltlight';
  font-size: 25px;
  font-weight: 100;
  line-height: 30px;
  padding-bottom: 14px;
}

.header__promo li::before {
  position: absolute;
  top: 0;
  left: -39px;
  content: "";
  display: block;
  width: 29px;
  height: 26px;
  background-image: url("../images/sprite.fw.png");
  background-position: -418px -66px;
}

.header__promo a {
  text-decoration: none;
  color: #ffa800;
  border-bottom: 1px solid #ffa800;
}

.header__promo a:hover {
  opacity: 0.8;
}

a.open-shop {
  display: block;
  width: 250px;
  height: 54px;
  font-size: 18px;
  font-weight: 600;
  line-height: 54px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  margin-left: 106px;
  background-image: linear-gradient(220deg, #fa7b2e 0%, #fea700 100%);
  background-color: #ffa800;
  border-radius: 27px;
  color: #fff;
}

/* Create shop */

.create-shop h2 {
  position: relative;
  width: 840px;
  padding-top: 12px;
}

.create-shop h2::after {
  position: absolute;
  bottom: -92px;
  left: -71px;
  content: "";
  display: block;
  width: 980px;
  height: 1px;
  background-color: #ccc;
}

.create-shop ul {
  margin-top: 170px;
  margin-bottom: 175px;
}

.create-shop__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 190px;
  line-height: 23px;
  text-align: center;
  margin-right: 30px;
}

.create-shop__item::before {
  position: absolute;
  top: -121px;
  left: 54px;
  content: "";
  display: block;
  width: 84px;
  height: 84px;
  background-image: url("../images/sprite.fw.png");
}

.create-shop__item--1 {
  margin-left: 46px;
}

.create-shop__item--1::before {
  background-position: -336px -100px;
}

.create-shop__item--2::before {
  background-position: -168px -100px;
}

.create-shop__item--3::before {
  background-position: 0 -100px;
}

.create-shop__item--4::before {
  background-position: -252px -100px;
}

.create-shop__item--5::before {
  background-position: -84px -100px;
}

/* Control panel */

.control-panel h2 {
  width: 475px;
  text-align: left;
  margin-left: 117px;
  margin-bottom: 24px;
}

.control-panel ul {
  position: relative;
  width: 575px;
  margin-bottom: 173px;
  padding-left: 118px;
}

.control-panel ul::after {
  position: absolute;
  top: -179px;
  right: -536px;
  content: "";
  display: block;
  width: 410px;
  height: 326px;
  background-image: url("../images/gadgets.png");
}

.control-panel li {
  position: relative;
  margin-bottom: 7px;
}

.control-panel li::before {
  position: absolute;
  top: 9px;
  left: -10px;
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
}

/* Partner program */

.partner-program__top {
  height: 608px;
  background-image: url("../images/bg-middle.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.partner-program__top h2 {
  position: relative;
  width: 975px;
  font-size: 50px;
  line-height: 55px;
  text-shadow: 0 28px 73px rgba(0, 0, 0, 0.36);
  margin: 0 auto;
  padding-top: 64px;
  padding-right: 46px;
}

.partner-program__top h2 > span {
  font-family: 'proxima_nova_ltlight';
  font-weight: 100;
}

.partner-program__bottom {
  background-color: #efece7;
}

.partner-program__sale {
  margin-bottom: 100px;
}

.partner-program__sale ul {
  position: relative;
  margin-top: 0;
  padding-top: 48px;
}

.partner-program__sale ul::after {
    position: absolute;
    bottom: -52px;
    left: 98px;
    content: "";
    display: block;
    width: 980px;
    height: 1px;
    background-color: #ccc;
}

.partner-program__sale-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 295px;
  line-height: 25px;
}

.partner-program__sale-item::before {
  position: absolute;
  top: 19px;
  left: 0;
  content: "";
  font-family: 'proxima_nova_ltlight';
  font-size: 68px;
  font-weight: 300;
  color: #fea700;
}

.partner-program__sale-item--1 {
  width: 270px;
  margin-left: 92px;
  margin-right: 118px;
}

.partner-program__sale-item--1::before {
  left: -35px;
  content: "1";
}

.partner-program__sale-item--2 {
  margin-right: 92px;
}

.partner-program__sale-item--2::before {
  left: -54px;
  content: "2";
}

.partner-program__sale-item--3 {
  width: 245px;
}

.partner-program__sale-item--3::before {
  left: -52px;
  content: "3";
}

.partner-program__income h2 {
  margin-bottom: 175px;
}

.partner-program__income h2::after {
  position: absolute;
  left: 216px;
  bottom: 192px;
  content: "";
  display: block;
  width: 750px;
  height: 1px;
  background-color: #ccc;
}

.partner-program__income ul {
  padding-bottom: 66px;
}

.partner-program__income-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 285px;
  line-height: 25px;
  text-align: center;
  margin-right: 30px;
}

.partner-program__income-item::before {
  position: absolute;
  top: -126px;
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("../images/sprite.fw.png");
}

.partner-program__income-item--1 {
  margin-left: 96px;
  margin-right: 120px;
}

.partner-program__income-item--1::before {
  left: 95px;
  background-position: -200px 0;
}

.partner-program__income-item--2 {
  width: 160px;
  margin-right: 175px;
}

.partner-program__income-item--2::before {
  left: 35px;
  background-position: -100px 0;
}

.partner-program__income-item--3 {
  width: 180px;
}

.partner-program__income-item--3::before {
  left: 44px;
  background-position: 0 0;
}

/* Information channels */

.information-channels h2 {
  width: 700px;
  margin: 0 auto;
  padding-top: 106px;
}

.information-channels__top {
  padding-bottom: 100px;
}

.information-channels__top-block {
  width: 400px;
}

.information-channels__top-block h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 7px;
}

.information-channels__top-block li {
  position: relative;
  line-height: 25px;
}

.information-channels__top-block li::before {
  position: absolute;
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
} 

.information-channels__top-block a {
  display: inline-block;
  line-height: 28px;
  text-decoration: none;
  border-bottom: 2px solid #efcab4;
  color: #fa7b2e;
}

.information-channels__top-block a:hover {
  opacity: 0.8;
}

.information-channels__top-block--youtube {
  float: left; 
  position: relative;
  width: 310px;
}

.information-channels__top-block--youtube::after {
  position: absolute;
  top: 116px;
  left: -52px;
  content: "";
  display: block;
  width: 469px;
  height: 396px;
  background-image: url("../images/youtube.png");
  z-index: -1;
}

.information-channels__top-block--youtube h2 {
  width: 310px;
  text-align: left;
  padding-top: 126px;
  padding-left: 8px;
  padding-bottom: 267px;
}

.information-channels__top-block--youtube ul {
  padding-left: 11px;
}

.information-channels__top-block--youtube li {
  margin-bottom: 10px;
}

.information-channels__top-block--youtube li::before {
  top: 9px;
  left: -10px;
}

.information-channels__top-block--why {
  float: right;
  width: 305px;
  margin-right: 285px;
}

.information-channels__top-block--why h2 {
  width: 310px;
  font-family: 'proxima_nova_ltlight';
  font-weight: 300;
  text-align: left;
  padding-top: 126px;
}

.information-channels__top-block--why li {
  margin-bottom: 10px;
}

.information-channels__top-block--why li::before {
  top: 9px;
  left: -10px;
} 

.information-channels__top-block--android {
  float: right;
  position: relative;
  width: 345px;
  margin-top: 255px;
  margin-right: 15px;
}

.information-channels__top-block--android::before {
  position: absolute;
  top: 238px;
  left: 0;
  content: "";
  display: block;
  width: 206px;
  height: 52px;
  background-image: url("../images/sprite.fw.png");
  background-position: -587px -100px;
  cursor: pointer;
}

.information-channels__top-block--android::after {
  position: absolute;
  top: -126px;
  left: -370px;
  content: "";
  display: block;
  width: 445px;
  height: 585px;
  background-image: url("../images/android.png");
  z-index: -1;
}

.information-channels__top-block--android h2 {
  width: 345px;
  text-align: left;
  margin-bottom: 110px;
}

.information-channels__top-block--android ul {
  margin-top: 0;
  margin-bottom: 31px;
  padding-left: 2px;
}

.information-channels__top-block--android li {
  margin-bottom: 0;
}

.information-channels__top-block--android li::before {
  top: 11px;
  left: -10px;
}

.information-channels__top-block--android p {
  width: 315px;
  line-height: 25px;
  margin-top: 7px;
}

.information-channels__top-block--digest {
  position: relative;
  clear: both;
  width: 445px;
  margin-left: 421px;
}

.information-channels__top-block--digest::before {
  position: absolute;
  top: 126px;
  left: 235px;
  content: "";
  display: block;
  width: 66px;
  height: 63px;
  background-image: url("../images/sprite.fw.png");
  background-position: -464px -33px;
}

.information-channels__top-block--digest::after {
  position: absolute;
  top: -197px;
  left: -476px;
  content: "";
  display: block;
  width: 590px;
  height: 594px;
  background-image: url("../images/digest.png");
  z-index: -1;
}

.information-channels__top-block--digest h2 {
  width: 367px;
  text-align: left;
  padding-top: 46px;
  margin-bottom: 75px;
}

.information-channels__top-block--digest ul {
  padding-left: 40px;
}

.information-channels__top-block--digest li {
  margin-bottom: 10px;
}

.information-channels__top-block--digest li::before {
  top: 11px;
  left: -9px;
}

.information-channels__bottom {
  overflow: hidden;
  margin-bottom: 79px;
}

.information-channels__bottom-block {
  position: relative;
  float: left;
  width: 200px;
}

.information-channels__bottom-block h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 7px;
}

.information-channels__bottom-block p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
}

.information-channels__bottom-block a {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  border-bottom: 2px solid #fee6d8;
  color: #fa7b2e;
}

.information-channels__bottom-block a:hover {
  opacity: 0.8;
}

a.social-link,
a.blog-link,
a.habr-link,
a.golos-link {
  border-bottom: none;
}

.information-channels__bottom-block--social {
  position: relative;
  width: 215px;
  margin-right: 78px;
  padding-top: 52px;
}

.information-channels__bottom-block--social ul:first-child {
  position: relative;
}

.information-channels__bottom-block--social ul:first-child li {
  display: inline-block;
  vertical-align: top;
}

.information-channels__bottom-block--social ul:last-child {
  margin-top: 3px;
}

.information-channels__bottom-block--social ul:last-child li {
  margin-bottom: 5px;
}

.social-link {
  position: absolute;
  display: block;
  background-image: url("../images/sprite.fw.png");
}

.social-link--1 {
  top: -48px;
  left: -1px;
  width: 35px;
  height: 23px;
  background-position: -440px -3px;
}

.social-link--2 {
  top: -53px;
  left: 53px;
  width: 19px;
  height: 33px;
  background-position: -328px -1px;
}

.social-link--3 {
  top: -51px;
  left: 92px;
  width: 15px;
  height: 28px;
  background-position: -363px -4px;
}

.social-link--4 {
  top: -51px;
  left: 122px;
  width: 42px;
  height: 29px;
  background-position: -392px -1px;
}

.information-channels__bottom-block--blog {
  width: 210px;
  margin-right: 84px;
  padding-top: 84px;
}

.blog-link {
  position: absolute;
  top: 11px;
  left: 0;
  display: block;
  width: 123px;
  height: 59px;
  background-image: url("../images/sprite.fw.png");
  background-position: -429px -100px;
}

.information-channels__bottom-block--habr {
  width: 235px;
  margin-right: 62px;
  padding-top: 84px;
}

.habr-link {
  position: absolute;
  top: 11px;
  left: 0;
  display: block;
  width: 45px;
  height: 45px;
  background-image: url("../images/sprite.fw.png");
  background-position: -641px -3px;
}

.information-channels__bottom-block--golos {
  width: 195px;
  padding-top: 84px;
}

.golos-link {
  position: absolute;
  top: 4px;
  left: -16px;
  display: block;
  width: 85px;
  height: 78px;
  background-image: url("../images/sprite.fw.png");
  background-position: -552px -3px;
}

/* Synergetic organization */

.synergetic-organization {
  clear: both;
  height: 799px;
  background-image: url("../images/bg-bottom.png");
  background-repeat: no-repeat;
  background-position: center top;
}

/* Our mission */

.our-mission {
  height: 517px;
  background-image: url("../images/bg-bottom2.png");
  background-repeat: no-repeat;
  background-position: center top;
}

/* Updating */

.updating__social li {
  display: inline-block;
}

/* Footer */

.footer__block {
  float: left;
  width: 300px;
}